.basicText {
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 30px;
}

.welcome-msg {
    /* Her giver vi vores første welcome-msg en masse egenskaber, fx hvilken position den skal have og farven på teksten */
    top: 10%;
    font-size: 100px;
}

.question {
    top: 6%;
    font-size: 40px;
    margin: auto;
    width: 950px;
}

.score {
    top: 6%;
    font-size: 40px;
    margin: auto;
    width: 950px;
}

.welcome-msg2 {
    /* Her giver vi så vores anden welcome-msg de samme typer egenskaber, men bare med andre værdier */
    top: 45%;
    bottom: 50%;
    font-size: 35px;
}

.scoring {
    top: 115px;
    right: 240px;
    padding: 10;
    text-align: right;
}

.gameOver {
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    font-size: 165px;
}

/* Main button settings */
.button {
    color: white;
    background: none;
    border: 2px solid white;
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 55%;
    width: 150px;
    height: 60px;
    z-index: 10;
    font-size: 25px;
}

.startBtn {
    font-size: 40px;
}

.connectBtn {
    right: 180px;
}

.tryAgainBtn {
    width: 500px;

    font-size: 40px;
}

.lobby-msg {
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 10;

    font-size: 80px;
}

.countdown {
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 50%;
    
    z-index: 10;

    font-size: 35px;
}

.answerBtn {
    width: 350px;
    height: 70px;
    left: 0%;
}

.answerBtn1 {
    top: 200px;
}

.answerBtn2 {
    top: 300px;
}

.answerBtn3 {
    top: 400px;
}

.answerBtn4 {
    top: 500px;
}